// Fonts
@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto");
// materialize
@import "materialize";

// Bootstrap
@import '~bootstrap/dist/css/bootstrap-grid';
.gradient {
  background: #00C3D2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right bottom, #64d9c4, #58c49f, #53af7a, #539955, #538330);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right bottom, #64d9c4, #58c49f, #53af7a, #539955, #538330);
}
#bg-deadlift {
  background: url('https://image.freepik.com/free-photo/weights-exercise-weightlifter-strong-athletic_1139-709.jpg');
  background-size: 50% 100%;
  background-repeat: no-repeat;
}
.green-bg {
  background: url('/images/green-alt.png');
  background-size: cover;
  background-repeat: no-repeat;
    background-position: right top;
    // background-attachment: fixed;
}
.panel {
  padding: 24px;
  margin: 0.5rem 0 1rem 0;
}
.container-fluid-left {
  margin-left: 0px!important;
  margin-right: auto;
}
ul.indicators {
  border-bottom: 2px solid $off-black;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.view-height {
  height: 100vh;
}
.testimonial-card {
  position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
}
.testimonial-card .card-up {
    overflow: hidden;
    height: 120px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.testimonial-card .avatar {
    border-radius: 50%;
    width: 120px;
    margin-top: -65px;
    overflow: hidden;
    border: 5px solid #fff;
    margin-left: auto;
    margin-right: auto;
}
.testimonial-card .avatar img {
  width: 100%;
}
.avatar {
    max-width: 150px;
}
.testimonial-card .card-body {
    text-align: center;
}
.card .card-body {
    position: relative;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
#fresh-info i {
  color: color("leaner-green", "base");
}
#fresh-info h6 {
  margin-top: 0px;
}
#fresh-info ul {
  padding-left: 60px!important;
}
#fresh-info .col-12 {
  margin-bottom: 40px!important;
}



.tabs-vertical {
    .tabs {
        height: auto;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        display: -webkit-flex;
        display: flex;
        text-align: left;
    }

    .tab {
        width: 100%;

        .active {
            -moz-transition: border-color .5s ease;
            -o-transition: border-color .5s ease;
            -webkit-transition: border-color .5s ease;
            transition: border-color .5s ease;
            border-bottom: 3px solid $off-black;
        }

        :hover {
            // border-right: 3px solid #eeeeee;
        }
    }

    .indicator {
        display: none;
    }
}
.indicator {
    display: none;
}
.tab a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $primary-color;
    transition: width .3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.tab a.active::after {
    width: 100%;
    //transition: width .3s;
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
}
.showSnackbar {
  position: absolute;
  z-index: 2;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  padding: 10px 25px;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #323232;
  color: #fff;
}
.showSnackbar.bottom {
  bottom: 17px;
  width: 100%;
}
.showSnackbar .btn-flat {
  color: $secondary-color;
  font-weight: 500;
}
.radio-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.radio-group.base {
  justify-content: baseline!important;
  -webkit-justify-content: baseline!important;
}
.radio-group p {
  margin-right: 15px;
}
#questionnaire-form .row,  #questionnaire-answers .row{
  margin-bottom: 2rem;
}
.collection.checklist, .collection.nav {
  cursor: pointer;
}
.collection.checklist, .collection.checklist .collection-item, .collection.checklist .collection-header, .collection.nav  .collection-item{
  border: none;
  border-radius: 0px;
}
.collection.nav{
  border: none;
  border-radius: 0px;
}
.checklist .collection-item.complete {
  pointer-events: none;
  cursor: default;
}
.checklist .collection-item.complete i.material-icons {
  color: color("grey", "base")!important;
}
.checklist .collection-item.complete span {
  text-decoration: line-through;
  color: color("grey", "base")!important;
}
.nav .collection-item span, .nav .collection-item i.material-icons {
  color: $off-black;
}
.nav .collection-item.active span, .nav .collection-item.active i.material-icons {
  color: #fff;
}
#stats_modal .input-field {
  padding-bottom: 15px;
}
.padding-left {
  padding-left: 20px;
}
.no-margin {
  margin: 0px!important;
}
