// Remove Focus Boxes
select:focus {
  outline: $select-focus;
}

button:focus {
  outline: none;
  background-color: $button-background-focus;
}

label {
  font-size: $label-font-size;
  color: $input-border-color;
}
.invalid-feedback {
  position: absolute;
  left: 15px;
  bottom: 0px;
  color: color('red', 'lighten-2');
}
.help-block.invalid-feedback {
  bottom: -15px;
}

@import 'input-fields';
@import 'radio-buttons';
@import 'checkboxes';
@import 'switches';
@import 'select';
@import 'file-input';
@import 'range';
